* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    color: white;
}

window#waybar {
    background: black;
}

#hostname,
#custom-ip,
#cpu,
#memory,
#disk,
#network,
#battery,
#custom-uptime,
#pulseaudio,
#backlight,
#bluetooth,
#tray,
#clock {
    padding: 0 8px;
}


#pulseaudio,
#backlight {
    font-family: "JetBrainsMono Nerd Font";
}
